body{
    background-color:#4ed4f9;
}
main{
    background-color: #6f767a;
    margin-inline: 10%;
    border-radius: 20px;
    border: 2px solid #253244;

}
h1{
    text-align: center;

}
.todos{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    }

form{
    margin-top: 50px;
    width:auto;
    margin: 0 auto;


}
.sobrevc{
    margin-top: 20px;
    
}
input{
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border:#6f767a;
    margin-bottom: 20px;
}
::placeholder{
    text-align: center;
    color: #253244;
}

.botao{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100px;
}
button{
    background-color: #1b2d3d;
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
    border: #6f767a;
}
button:hover{
    background-color: #253244;
}
textarea{
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
} 
img{
    margin:10px;
    
}

.fotocomen{
    flex-direction: column;
    margin: auto;
    align-items:center;

}
.label{
    
    background: url(login-logo-png-10.png);
    background-repeat: no-repeat;
    padding: 60px 20px 60px 20px;
    border-radius: 100px;
    background-size:contain;
}