body{
    background-image: linear-gradient(90deg, #4ED4F9, #4799EB);
    display: grid;
    gap:10px;
    grid-template-columns: max-content;
    grid-template-areas:
       'hea hea hea juy qui'
       'dex dex dex dex dex'
       'sec sec sec sec ter'
       'qua qua qua qua qua'
       ;
    row-gap: 20px;
    padding: 2%;
    

}
.coments{
    grid-area: sec;
    background-color: aliceblue;
    border-radius: 30px;
    margin: 10;
    
    
}
textarea{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    
    
}
#inserirPagina{
    grid-area: qua;
    background-color: aliceblue;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;

}
#nomeUsuario{
    grid-area: juy;
    font-size: 35px;
    text-align: right;
    
}
#infUser{
    font-size: 20px;
    background-color: #4799EB;
}
a{
    grid-area: hea;
}
#dadosUsuario{
    grid-area: ter;
    background-color: aliceblue;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 60%;
}
.foto{
    grid-area: qui;
    text-align: center;

}
#ordem{
    font-size: 20px;
    background-color: #4799EB;
    text-align: center;
    margin-bottom: 5px;
    
}
p{
    background-color: #4799EB;
    margin: auto;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
